.form {
	margin: 50px 400px;
	width: 100px;
	font-size: 20px;
}
.form input{
	border: none;
	background: none;
	outline: none;
	border-bottom: 1px solid #8B008B;
	margin-top: 10px;
	width: 400px;
}
.form button{
	width: 100px;
	height: 35px;
	margin-top: 15px;
	border: none;
	background-color: #8B008B;
	color: white;
	cursor: pointer;
}

.form button:hover {
	background-color: black;
}